<div id="search-window" class="hidden pop-up">
  <ul>
  <%= form_tag('/events', :method=> :get, :class=>"search", remote: true, :html => {:autocomplete => 'off'}) do %>
    <li>
      <%= text_field_tag :user_input_location_name, nil, placeholder: "Location" %>
    </li>
    <div id='search-suggest'></div>
    <li class="advanced-options hidden">
      <%= text_field_tag :artist_name, nil, placeholder: "Artist Name" %>
    </li>
    <li class="advanced-options hidden">
      <%= label_tag :min_date %>
      <input type="date" name="min_date">
    </li>
    <li class="advanced-options hidden">
      <%= label_tag :max_date %>
      <input type="date" name="max_date">
    <li class="advanced-options hide-submit loc-submit">
      <%= submit_tag("Search", :class=>"location-search") %>
    </li>
  <% end %>
  <!-- <button id="advanced-search">More Options</button> -->
</ul>
</div>

