<div id="searchWindow" class="hidden">
  <ul>
  <%= form_tag('/events', :method=> :get, :class=>"search", remote: true) do %>
    <li>
      <%= label_tag :user_input_location_name, "Location" %>
      <%= text_field_tag :user_input_location_name %>
    </li>
    <li class="advanced-options hidden">
      <%= label_tag :artist_name %>
      <%= text_field_tag :artist_name %>
    </li>
    <li class="advanced-options hidden">
      <%= label_tag :min_date %>
      <input type="date" name="min_date">
    </li>
    <li class="advanced-options hidden">
      <%= label_tag :max_date %>
      <input type="date" name="max_date">
    <li>
      <%= submit_tag("Search", :class=>"submit-button") %>
    </li>
  <% end %>
  <div id="advanced-search"><img id="more-options-icon"src="/assets/more-options-icon.png"></div>
</ul>
</div>

