<!-- <div id="searchWindow" class="hidden">
  Location <input type="text" name="location"><br>
  <button id="advanced-search">More</button>
  <button class="search-location">Search</button>

    <div id="advanced-options" class="hidden">
      Date From <input type="date" name="date"><br>
      Date To <input type="date" name="date"><br>
      Artist <input type="text" name="artist"><br>
      <button class="search">Search</button>
    </div>

</div> -->


<div id="searchWindow" class="hidden">
  <%= form_tag('/events', :method=> :get, :class=>"search", remote: true) do %>
    <%= label_tag :user_input_location_name %>
    <%= text_field_tag :user_input_location_name %><br>
    <%= label_tag :artist_name, nil,  :class => "advanced-options hidden-adv" %>
    <%= text_field_tag :artist_name, nil, :class => "advanced-options hidden-adv"%><br>
    <%= label_tag :min_date,nil,  :class => "advanced-options hidden-adv" %>
    <%= date_select :min_date,nil,  :class => "advanced-options hidden-adv"%>
    <%= label_tag :max_date,nil,  :class => "advanced-options hidden-adv"%>
    <%= date_select :max_date,nil,  :class => "advanced-options hidden-adv"%>
    <%= submit_tag("Search", :class=>"location-search") %>
    <button id="advanced-search">More</button>
  <% end %>
</div>

