<div id="map-canvas"></div>


<div class = "container">
  <div class="hidden" id="sign-up-form">
    <%= render partial: "shared/sign_up", locals: {user: @user} %>
  </div>

  <div class="hidden" id="sign-in-form">
    <%= render partial: "shared/login" %>
  </div>

  <div class="hidden" id="user_data_script">
    <% if logged_in? %>
      <%= render partial: "shared/user_data", locals: {user: current_user, user_location_data: @user_location_data} %>
    <% end %>
  </div>
</div>


<%= render partial: 'search' %>
<%= render partial: 'userlog' %>

