<div class = "large-info-box hidden">
  <img src="/assets/close_box.png" class="close-infobox">
  <p><strong>Event: </strong>{{displayName}}</p>
  <p><strong>Artist: </strong>{{headliner}}</p>
  <p><strong>Venue: </strong>{{venueName}} </p>
  <p><strong>Date: </strong>{{date}}</p>
  {{#if time}}
  <p><strong>Start time: </strong>{{time}}</p>
  {{/if}}
  <p class="artist-bio"><p>
  <div class="seatgeek-link-div"></div>

</div>
