<div class = "large-info-box hidden">
  <button class="close-infobox">X</button>
  <p>Event: {{displayName}}</p>
  <p>Artist: {{headliner}}</p>
  <p>Venue: {{venueName}} </p>
  <p>Date: {{date}}</p>
  {{#if time}}
  <p>Start time: {{time}}</p>
  {{/if}}
  <div class="artist-img">ALBUM IMAGE</p>
  <p class="artist-bio"><p>

</div>
