<div class = "large-info-box hidden">
  <button class="close-infobox">X</button>
  <p>Festival: {{displayName}}</p>
  <p>Artists: {{#each artists}}
    {{this}} •
    {{/each}}</p>
  <p>Venue: {{venueName}} </p>
  <p>Date: {{date}}</p>
  {{#if time}}
  <p>Start time: {{time}}</p>
  {{/if}}
  <p>ARTIST BIO<p>
  <p>MUSIC PLAYER HERE</p>
  <p>ALBUM IMAGE</p>
</div>
