<div class = "large-info-box hidden">
  <button class="close-infobox">X</button>
  <p>Event: {{displayName}}</p>
  <p>Artist: {{headliner}}</p>
  <p>Venue: {{venueName}} </p>
  <p>Date: {{date}}</p>
  {{#if time}}
  <p>Start time: {{time}}</p>
  {{/if}}
  <p class="artist-bio"><p>
  <h3>Event Ticket Info:</h3>
  <a href="" class="seatgeek-link" target="_blank">Buy Tickets!!!</a>

</div>
