<div class = "large-info-box">
  <p>Festival: {{displayName}}</p>
  <!-- <p>Artist: {{headliner}}</p>  need to iterate through array of artists to display all-->
  <p>Venue: {{venueName}} </p>
  <p>Date: {{date}}</p>
  {{#if time}}
  <p>Start time: {{time}}</p>
  {{/if}}
    <img src='/assets/music-note-icon.png' alt='music note'>
  <p>ARTIST BIO<p>
  <p>MUSIC PLAYER HERE</p>
</div>
