<div class = "large-info-box hidden">
  <button class="close-infobox">X</button>
  <p>Event: {{displayName}}</p>
  <p>Artist: {{headliner}}</p>
  <p>Venue: {{venueName}} </p>
  <p>Date: {{date}}</p>
  {{#if time}}
  <p>Start time: {{time}}</p>
  {{/if}}
  <p>ARTIST BIO<p>
  <p>MUSIC PLAYER HERE</p>
  <p>ALBUM IMAGE</p>


  <div id="social-media" class="addthis_toolbox addthis_floating_style hidden">
  <a href="http://www.addthis.com/bookmark.php?v=250&pubid=ra-538507f4430b32df"
    <a class="addthis_button_facebook_share"
      fb:share:layout="box_count"
      addthis:url="{{uri}}"
      addthis:title="Check out this LocalBeat!"
    ></a>
  </div>
  <script type="text/javascript">
    var addthis_config = {
    "data_track_addressbar":true,
    ui_cobrand: "Share this LocalBeat!"};
  </script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-538507f4430b32df">
  </script>

</div>

