<div class = "large-info-box hidden">
  <img src="/assets/close_box.png" class="close-infobox">
  <p><strong>Festival: </strong>{{displayName}}</p>
  <p><strong>Artists: </strong>{{#each artists}}
    {{this}} •
    {{/each}}</p>
  <p><strong>Venue: </strong>{{venueName}} </p>
  <p><strong>Date: </strong>{{date}}</p>
  {{#if time}}
  <p><strong>Start time: </strong>{{time}}</p>
  {{/if}}
  <div class="seatgeek-link-div"></div>
  <div class="spotify-player"></div>
  <p class="artist-bio"><p>
</div>
