<div class = "small-info-box">
  <p>Artist: <a href="/artists/top_songs" class="spotify-songs-link" data-sk-id={{headlinerId}}>{{headliner}}</a></p>
  <p>Venue: {{venueName}} </p>
  <p>Date: {{date}}</p>
  {{#if time}}
  <p>Start time: {{time}}</p>
  {{/if}}
</div>
