<!DOCTYPE html>
<html>
<head>
  <title>LocalBeat</title>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable=no">
  <%= favicon_link_tag '/new-marker-icon.ico' %>
</head>

<body>
  <div id="session-menu">
    <img id="magnify" src="/assets/search-icon.png">
    <img id="more-options-icon" class= "hidden pop-up" src="/assets/more-options-icon.png">
    <% unless logged_in? %>
    <img id="login-menu-button" src="/assets/login-icon.png">
    <% else %>
    <img id="logout-button" src="/assets/sign-out-icon.png">
    <% end %>
  </div>
  <div id='logo'>
    <img src='/assets/logo-option-5.png'>
  </div>

<!-- AddThis Button BEGIN -->
<!-- <div class="addthis_toolbox addthis_floating_style addthis_counter_style" style="left:50px;top:50px;">
<a class="addthis_button_facebook_share" fb:share:layout="box_count"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-538507f4430b32df"></script> -->
<!-- AddThis Button END -->

<%= yield %>

</body>
</html>
