<!DOCTYPE html>
<html>
<head>
  <title>LocalBeat</title>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable=no">
  <%= favicon_link_tag '/new-marker-icon.ico' %>
</head>

<body>
  <div id="session-menu">
    <img id="magnify" src="/assets/search-icon.png">
    <% unless logged_in? %>
    <img id="log-in-menu-button" src="/assets/sign-in-icon.png">
    <% else %>
    <img id="logout-button" src="/assets/sign-out-icon.png">
    <% end %>
  </div>
  <div id='logo'>
    <img src='/assets/logo-option-5.png'>

  </div>


<%= yield %>

</body>
</html>
